*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://loremflickr.com/1600/900/nautre,landscape/all");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.caixa-maior{
    background-color: rgba(0,0,0,0.9);
    width: 450px;
    padding: 25px;
    border-radius: 25px;
}

.input-cidade{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-size: 20px;
    width: calc(100% - 100px);
}

.botao{
    padding: 10px;
    border: none;
    background-color: #7c7c7c2b;
    border-radius: 50%;
    margin-left: 10px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.45;
}

.botao:hover{
    background-color: #7c7c7c;
    transform: scale(1.1);

}